@import '../../styles/breakpoints.scss';

.hero-overlay{
    .hero-overlay-top{
        height: 50vh;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;

        .hero-overlay-top-item{
            position: absolute;
            bottom:0;
            width: 33.3%;
            height: 100%;
            background: var(--dark-color);
            @include media("<=tablet"){
                width: 100%;
            }
            &:nth-child(2){
                left:33.3%;
                @include media("<=tablet"){
                    display: none;
                }
            }
            &:last-child{
                left: 66.6%;
            }
        }
    }
    .hero-overlay-bottom{
        height: 50vh;
        position: absolute;
        width: 100%;
        overflow: hidden;
        bottom: 0;
        .hero-overlay-bottom-item{
            position: absolute;
            top:0;
            width: 33.3%;
            height: 100%;
            z-index: 1;
            background: var(--dark-color);
            @include media("<=tablet"){
                width: 100%;
            }
            &:nth-child(2){
                left:33.3%;
                @include media("<=tablet"){
                    display: none;
                }
            }
            &:last-child{
                left: 66.6%;
                @include media("<=tablet"){
                    display: none;
                }
            }
        }
    }
}