@import '../../styles/breakpoints.scss';

.navigation{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    color: var(--light-color);
    background-color: #8a9686;
    // display: none;

    .nav-wrapper{
        width: 90%;
        margin: 0 auto;
        padding-top: 100px;
    }
    h4{
        font-size: 2rem;
        @include media('<=phone'){
            font-size: 1.6rem;
        }
    }
    ul{
        padding-top: 20px;
        @include media('<=phone'){
            padding-top: 10px;
        }

    }
    a{
        font-size: 3rem;
        line-height: 3.2rem;
        letter-spacing: .1rem;
        color: white;
        position: relative;
        @include media('<=phone'){
            font-size: 2rem;
            line-height: 2.6rem;
        }

        &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right:0;
        width: 0%;
        height: 2px;
        margin-bottom: -1px;
        background-color:var(--light-color) ;
        transition: all 0.4s ease;
        }
        &:hover:after{
            width: 100%;
            left: 0;
            }
            
        


    }
    
    
}
